doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Curios
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="../bower_components/bootstrap/dist/js/bootstrap.js")
    link(rel="stylesheet", type="text/css", href="../bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="main.css")       
      
  body
    .container
        .row
            .col-sm-12
                #lang-links
                    | català · castellano · english
        .row
            .col-sm-12.col-md-3
                .row
                    .col-xs-5.col-sm-3.col-md-12
                        .logo-container.pull-right
                            img(src="../files/images/logo_03.png")              
                    .col-xs-7.col-sm-9.col-md-12
                        #main-menu-container
                            #quote
                                | _bones practiques per la sostenibilitat        
                                |  en serveis de disseny grafic, interiorisme
                                |  i decoracio per negocis i vivendes_          
                            #main-menu
                                ul.list-unstyled
                                    li filosofia
                                    li nosaltres
                                    li serveis
                                    li projectes
                                    li premsa   
                            #workshops workshops     
                            #contact-info
                                div info@curios.es 
                                div 93 309 14 17 · 677 447 054
                                div Carrer Veneçuela 16, 4rt 3ra
                                div 08019 Barcelona       
                            #social-networks
                                img(src="../files/images/blogger-32.png")   
                                img(src="../files/images/facebook-32.png")   
                                img(src="../files/images/twitter-32.png")   
                                img(src="../files/images/linkedin-32.png")                        

            .col-sm-12.col-md-9
                .row#right-panel
                    .col-sm-12.col-md-4.nopadding 
                        #left-menu-container
                            h3 negoci
                            ul.list-unstyled
                                li Editorial Llibres del delicte
                                li Sala Ramona
                                li Cafeteria Dots
                                li FLoresteria
                                li Aparador abril aigues mil 
                            h3 vivenda
                            ul.list-unstyled
                                li Pis Capitan Arenas
                                li Atic Bailen
                                li Estudi Gracia
                                li Loft Poble Nou
                                li Pis Muntaner
                            h3 producte
                            ul.list-unstyled
                                li noeTVeig

                            #menu-bottom
                                | Vols veure en què estem
                                | treballant actualment? 
                                span#coneixer-link Coneix els nostres projectes en curs                        
                        
                    .col-sm-12.col-md-8.nopadding
                        #content-container      
                            .client
                                span.key Client:
                                span.value Tactum perruquers 
                                span.key Any:
                                span.value 2013
                            .briefing
                                span.key Briefing:
                                span.value Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            .key.solucio
                                span.key Solucio:
                                span.value Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, elementumifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
        .row.hidden-xs#bottom-quote
            #bottom-quote-container
                | PRÀCTIQUES PER LA SOSTENIBILITAT EN SERVEIS DE DISSENY GRÀFIC, INTERIORISME I DECORACIÓ PER NEGOCIS I VIVENDES