.nopadding
    padding: 0

.container
    margin: 10px

#lang-links
    font-family: "Avenir"   
    font-size: 10pt     
    color: #9B999F
    text-align: right

#main-menu-container
    #quote
        font-family: "Minion Pro"   
        font-style: italic
        font-size: 12pt     
        color: #B2B2B2 
        text-align: right

        margin-top: 10px

    #main-menu
        font-family: "Avenir"   
        font-size: 12pt     
        color: black    

        text-align: right

    #workshops     
        font-family: "Cooper Std"   
        font-style: italic
        font-size: 16pt 
        color: #808080

        text-align: right    

    #contact-info
        font-family: "Avenir"   
        font-size: 10pt     
        color: #9B999F    

        text-align: right    

    #social-networks
        img
            opacity: 0.5
            margin: 0 3px

        img:hover
            opacity: 1            

        height: 100px
        padding: 20px 0
        text-align: right
            
#left-menu-container
    padding: 10px 40px

    background-color: black
    color: #808080
    font-family: "Avenir"
    font-size: 12pt 

    h3
        font-family: "Cooper Std"   
        font-style: italic
        font-size: 21pt 
        color: #B2B2B2

    #menu-bottom
        height: 150px
        padding-top: 40px

        font-family: "Cooper Std"   
        font-style: italic
        font-size: 12pt 
        color: #4FA9C6        

        span#coneixer-link
            text-decoration: underline

#content-container
    padding: 10px

    font-family: "Avenir"   
    font-size: 10.5pt
    color: #9B999F  
    background-color: #F1F1F1

    div
        margin-bottom: 10px

    span.key
        color: #4FA9C6

    span.value    
        margin-left: 5px

#bottom-quote    
    #bottom-quote-container   
        // overflow-x: hidden
        font-family: "Astronaut"
        font-size: 20pt
        color: black
        text-align: center
        width: 600px
        height: 40px
        // overflow: hidden
        margin: 0 40%

        position: relative
        overflow: hidden
        white-space: nowrap
        background-color: #fff

    #bottom-quote-container::after
        content: ""
        pointer-events: none
        position: absolute
        width: 100px
        height: 100%
        top: 0
        right: 0
        
        background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0))
        background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0))
        background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0))
        background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0))
        background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0))